/logs/
config/settings.json
.env
.cache
.bundle/
.claude
.cline
.clinerules
CLAUDE.md
coverage/*
*.DS_Store*
.savant/*
secrets.yml
frontend/node_modules/
frontend/dist/
public/

lib/savant/think/prompts/*
!lib/savant/think/prompts/savant*


lib/savant/think/workflows/*
!lib/savant/think/workflows/savat*
!lib/savant/think/workflows/_template*


*bak*
